.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: all 300ms ease;
    font-size: 0.9rem;
    cursor: pointer;


}

.btn:hover{
    opacity: 0.86;
}

.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}