.messages{
    width: 100%;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 1.5rem;
}

.category{
    display: flex;
    justify-content: space-between;
    /* border-bottom: 6px solid var(--color-light); */
    margin-bottom: 1rem;
    /* margin-top: 1rem; */

}
.category h5{
    width: 100%;
    border-bottom: 4px solid var(--color-light);
    padding: 0.4rem 0rem;

}
.category h5:nth-of-type(1){
    border-bottom: 4px solid var(--color-dark);
}

.message{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.message .user{
    position: relative;
}

.message .user .active{
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    background: var(--color-success);
    border-radius: 50%;
    border: 3px solid white;
    bottom: 0;
    right: 0;
}
.message .body{
    display: flex;
    flex-direction: column;
}

.message span:nth-of-type(1){
    font-size: 0.9rem;
    font-weight: bold;
}

.message span:nth-of-type(2){
    font-size: 0.8rem;
    font-weight: 500;
}

